<!DOCTYPE html>
<html lang="en">
<head>
  <title>Waste2Currency</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Send Transfer Request</h3>


  <form action="SendRequest" method='post'>
    {% csrf_token %}
 <div class="form-group">
     
      <label for="to">Request To:</label>
      <input type="text" class="form-control" id="to" placeholder="Enter Destination address" name="to" required>
  </div>

 <div class="form-group">
     
      <label for="uuid">UUID:</label>
      <input type="text" class="form-control" id="uuid" placeholder="Enter UUID" name="uuid" required>
  </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    <h4>{{message}}</h4>
</div>




</body>
</html>
